{% extends "base.html" %}

{% block Head %}
    <title>Podcasts list </title>
    <base target="_blank">
{% endblock %}

{% block Body %}

    {% for file, prop in podcasts.items() %}
        <div style="background-color:lightgrey;margin:5%;padding: 2%">
            <img src={{ prop.thumbnails.0.url }}>
            <a href={{ prop.uploader_url }}><b>{{ prop.uploader }}</b></a><br/>
            <a href={{ prop.webpage_url }}>{{ prop.title }}</a>
            <audio controls>
                <source src = {{ file }} />
            </audio>
        </div>
    {% endfor %}

{% endblock %}